<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" type="text/css"  href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css"  href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/css/jsCalendar.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/date-picker.css">
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
<div class="container-scroller">
    <div class="shadow-layer d-none"></div>
    <div class="my-jsCalendar my-jsCalendar-hide material-theme turquoise position-fixed d-flex justify-content-center w-100" data-first-day-of-the-week="2"></div>

    <div th:replace="fragments/admin-header :: header"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="fragments/admin-sidebar :: sidebar"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center position-relative">
                            <button class="btn btn-sm btn-gradient-success btn-date-picker">
                                <i class="mdi mdi-calendar"></i>
                            </button>
                            <div class="pl-2 date-display" th:text="${#temporals.format(dateNow, 'dd/MM/yyyy')}"></div>
                        </div>
                        <table class="table table-bordered mt-2">
                            <thead class="bg-gradient-success text-white">
                                <tr>
                                    <th>UID</th>
                                    <th>Name</th>
                                    <th>Shift</th>
                                </tr>
                            </thead>
                            <tbody class="absent-list-tbody">
                            <th:block th:each="absentItem : ${absentList}" th:switch="${absentItem.getAbsentShift()}">
                                <tr th:case="1" class="bg-gradient-warning">
                                    <td th:text="${absentItem.getUserId()}"></td>
                                    <td th:text="${absentItem.getUserName()}"></td>
                                    <td>1st</td>
                                </tr>
                                <tr th:case="2" class="bg-gradient-primary">
                                    <td th:text="${absentItem.getUserId()}"></td>
                                    <td th:text="${absentItem.getUserName()}"></td>
                                    <td>2nd</td>
                                </tr>
                                <tr th:case="3" class="bg-gradient-danger">
                                    <td th:text="${absentItem.getUserId()}"></td>
                                    <td th:text="${absentItem.getUserName()}"></td>
                                    <td>All day</td>
                                </tr>
                            </th:block>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/admin-footer :: footer"></div>
        </div>
    </div>
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/js/sweetalert2.all.js"></script>
    <script src="/vendors/js/jsCalendar.js"></script>
    <script src="/vendors/js/http-client.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/admin/admin-absent-board.js"></script>
    <!-- endinject -->
</div>
</body>
</html>