<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" type="text/css"  href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css"  href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/css/jsCalendar.css">
    <link rel="stylesheet" href="/vendors/css/wickedpicker.css">
    <!-- End plugin css for this page -->
    <style>
        .my-jsCalendar {
            transform: translateY(-50%);
            top: 50%;
        }
        .my-jsCalendar-hide {
            z-index: -999 !important;
        }
        .my-jsCalendar-show {
            z-index: 1032 !important;
        }
        .shadow-layer {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1031;
            background: #000;
            opacity: 0.8;
        }
    </style>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
<div class="container-scroller">
    <div class="shadow-layer d-none"></div>
    <div class="my-jsCalendar my-jsCalendar-hide material-theme turquoise position-fixed d-flex justify-content-center w-100" data-first-day-of-the-week="2"></div>

    <div th:replace="fragments/admin-header :: header"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="fragments/admin-sidebar :: sidebar"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center position-relative">
                            <button class="btn btn-sm btn-gradient-success btn-date-picker">
                                <i class="mdi mdi-calendar"></i>
                            </button>
                            <div class="pl-2 date-display" th:text="${#temporals.format(dateNow, 'dd/MM/yyyy')}"></div>
                        </div>
                        <table class="table table-bordered mt-2">
                            <thead class="bg-gradient-success text-white">
                                <tr>
                                    <th>UID</th>
                                    <th>Name</th>
                                    <th>Check In</th>
                                    <th>Check Out</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="check-list-tbody">
                                <tr th:each="checkItem : ${checkList}">
                                    <td th:text="${checkItem.getUserId()}"></td>
                                    <td th:text="${checkItem.getUserName()}"></td>
                                    <td th:text="${#temporals.format(checkItem.getCheckInTime(), 'HH:mm:ss')}"></td>
                                    <td th:text="${#temporals.format(checkItem.getCheckOutTime(), 'HH:mm:ss')}"></td>
                                    <td>
                                        <button th:if="${checkItem.getCheckId() != 0}" class="btn btn-sm btn-gradient-success" onclick="showModal(this)" th:attr="data-id=${checkItem.getCheckId()}">
                                            <i class="mdi mdi-table-edit"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="modal" tabindex="-1" role="dialog" id="edit-modal">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-gradient-success">
                                        <h5 class="modal-title text-white">Edit check time</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body d-flex">
                                        <input class="form-control timepicker" id="edit-checkin-time">
                                        <input class="form-control timepicker" id="edit-checkout-time">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-gradient-danger" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-gradient-success btn-edit">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/admin-footer :: footer"></div>
        </div>
    </div>
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/js/sweetalert2.all.js"></script>
    <script src="/vendors/js/jsCalendar.js"></script>
    <script src="/vendors/js/http-client.js"></script>
    <script src="/vendors/js/wickedpicker.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/admin/admin-check-board.js"></script>
    <!-- endinject -->
</div>
</body>
</html>