<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mirai Checkwork</title>
    <!-- plugins:css -->
    <link rel="stylesheet" type="text/css"  href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" type="text/css"  href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/images/favicon.png">
</head>
<body>
<div class="container-scroller">
    <div th:replace="fragments/admin-header :: header"></div>
    <div class="container-fluid page-body-wrapper">
        <div th:replace="fragments/admin-sidebar :: sidebar"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                <div>Content</div>
            </div>
            <div th:replace="fragments/admin-footer :: footer"></div>
        </div>
    </div>
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <!-- endinject -->
</div>
</body>
</html>